body {
    background-color: #FFFFB9;
    margin-bottom: 20px;
}
/* Heading + Caption */
h1 {
    font-size: 6em;
    font-family: 'Londrina Solid', sans-serif;
    color: var(--dark-green);
    margin-bottom: 15px;
}

p {
    font-size: 1.5em;
    font-family: "League Spartan", sans-serif;
    color: var(--purple);
    margin-bottom: 50px;
    width: 75%;
}

#intro-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main-title {
    margin-left: 35px;
}

#wichu {
    transform: rotate(15deg);
    transform: scaleX(-1);
    margin-right: 30px;
}

/* Toggle Buttons */
#service-level {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 0 5px;
    padding: 8px 25px;
}

.btn-primary{
    background-color: var(--purple);
    color: white;
    border: none;
    font-size: 1.3em;
    font-family: 'League Spartan', sans-serif;
    border-radius: 5px;
}

.btn-secondary{
    background-color: var(--white-blue);
    color: gray;
    border: none;
    font-size: 1.3em;
    font-family: 'League Spartan', sans-serif;
    border-radius: 5px;
}

.btn-clicked {
    background-color: var(--purple);
    color: white;
}

.btn-primary:hover {
    background-color: var(--purple);
    color: white;
}

.btn-secondary:hover{
    background-color: #f0f4fa;
    color: inherit;
}

.button-active {
    background-color: white;
    color: inherit;
}

/* Booking Content */
#booking-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#left-side {
    margin: 20px;
}

#right-side {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    width: 30%;
    height: 100%;
    position: relative;
}

/* Labels/Subheadings */
h2 {
    font-size: 3rem;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 30px;
}

/* Buttons Configuration and Layout */
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 50px;
}


.btn-subject, .btn-grade {
    padding: 20px 150px 20px 20px;
    margin: 10px;
    font-size: 1.3em;
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    text-align: left;
    border: 1px solid gray;
}

.btn-caption {
    font-size: 0.8em;
    margin-top: 5px;
    font-family: 'League Spartan', sans-serif;
    font-weight: normal;
    color: gray;
}

.active{
    background-color: #f0f4fa;
}

.btn-subject:hover, .btn-grade:hover {
    background-color: #dbd9d9;
    color: inherit;
}

/* Calendar */
#calendar-area {
    display: contents;
}

#calendar-area input {
    width: 50%;
}

/* Times Configuration */
.times {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    width: 50%;
}

.times input {
    margin: 0;
    max-width: 200px;
}


label {
    font-family: "League Spartan", sans-serif;
    font-size: 1.3em;
    font-weight: normal;
    margin-right: 50px;
}

input {
    margin-bottom: 35px;
    border-radius: 5px;
    font-family: "League Spartan", sans-serif;
    font-size: 1.3em;
    border: 1px solid gray;
    padding: 10px;
}

/* Continue button */
#continue-area {
    width: 50%;
    display: flex;
    margin-top: auto;
    justify-content: center;
    padding: 25px;
}