/* Background image */
body {
    background: url(../imgs/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/* Title */
#main-title {
    font-size: 7.1em;
    color: var(--light-green);
    text-align: center;
    margin-top: 8%;
    font-family: 'Londrina Solid', sans-serif;
}

/* Sub-Title */
#sub-title {
    font-size: 2.1em;
    color: #F2FFEB;
    text-align: center;
    margin-top: 2%;
    font-family: 'Londrina Solid', sans-serif;
}

/* Statement Messages */
.statements {
    font-size: 1.2em;
    color: #F2FFEB;
    text-align: center;
    margin-top: 9%;
    font-family: 'League Spartan', sans-serif;
}

#statement2 {
    margin-top: 2%;
    padding: 0 25% 0 25%;
}

/* Footer */
footer {
    color: #F2FFEB;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 8px;
    width: 100%;
}