body{
    background: var(--dark-green);
}

/* Title */
#main-title {
    font-family: "Londrina Solid", sans-serif;
    font-size: 6em;
    color: var(--purple);
    text-align: center;
    margin-top: 4%;
    margin-bottom: 4%;;
}

/* Text */
.title {
    font-family: "Londrina Solid", sans-serif;
    color: var(--purple);
    font-size: 5em;
}
.text {
    font-family: "League Spartan", sans-serif;
    color: var(--white-blue);
    text-shadow: #1E1E1E 1px 1px 1px;
    font-size: 2.5em;
}

/* Location */
.location-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

#service-title {
    margin-bottom: 0;
}

#headquarters-title {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 35px;
}

iframe {
    margin-left: 5%;
    border: 1px solid black;
}

/* Hours of Operation */
#hours-of-operation {
    text-align: center;
    margin-top: 4%;
}

.days-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 4%;
}

/* Map */