body {
    background: var(--dark-green);
}

/* Heading */
.main-title{
    margin-top: 4%;
}
h1 {
    font-size: 6em;
    font-family: 'Londrina Solid', sans-serif;
    padding: 0;
    color: var(--yellow);
    text-align: center;
    margin: 20px;
}

/* Intro message */
#intro-message {
    font-size: 1.5em;
    font-family: 'League Spartan', sans-serif;
    color: var(--purple);
    text-align: center;
    margin: 50px;
    padding: 0 70px 0 70px;
}


/* Toggle Button */
#service-level {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.btn-primary{
    background-color: white;
    color: black;
    border: none;
    padding: 8px 25px;
    font-size: 1.5em;
    font-family: 'League Spartan', sans-serif;
    border-radius: 5px;
}

.btn-secondary{
    background-color: inherit;
    color: black;
    border: none;
    padding: 8px 25px;
    font-size: 1.5em;
    font-family: 'League Spartan', sans-serif;
    border-radius: 5px;
}

.btn-primary:hover{
    background-color: white;
    color: inherit;
}

/* Services Offered Container */
#services-offered{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 50px;
}